body {
    font-family: var(--font-family-heading);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.blue-block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    height: 40vh;
    background: linear-gradient(180deg, var(--bg-color), var(--bg-color-gradient));
    color: var(--color-white);
}

.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    text-align: center;
}

.explorar-mapa-btn {
    position: absolute;
    margin-top: 32vh;
    padding: 14px 6%;
    border-radius: 15px;
    border: none;
    background: var(--bg-buttom);
    color: var(--color-white);
    font-size: var(--font-size-h3);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
    cursor: pointer;
    z-index: 0;
}

.explorar-mapa-btn:hover {
    background: #1e90ff;
    transform: scale(1.02);
}

.page-comentarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: var(--color-white);
    padding: 24px 0;
    margin-top: 10vh;
}

.title-comentarios {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.comentario-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 12px;
    background: var(--color-white);
    width: 350px;  /* Aumentando a largura */
    height: 250px; /* Aumentando a altura */
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10), 0 1.5px 4px rgba(0, 0, 139, 0.08);
    transition: 0.2s;
}

.comentario-usuario:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 139, 0.13), 0 2px 8px rgba(0, 0, 139, 0.10);
    transform: scale(1.05); /* Ajustei o scale para dar mais destaque no hover */
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.comentario-local {
    font-weight: var(--font-weight-bold);
    color: var(--bg-buttom);
    font-size: var(--font-size-h3);
    transition: 0.2s;
}

.comentario-nota {
    color: var(--color-yellow);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.comentario-nome {
    color: var(--text-color);
    font-size: var(--font-size-h3); /* Aumentei o tamanho da fonte */
    font-weight: var(--font-weight-regular);
    font-style: italic;
}

.comentario-texto {
    color: var(--text-color);
    font-size: var(--font-size-h5); /* Aumentei o tamanho da fonte do texto */
}