<header>
    <nav>
        <div class="logo-text-container">
            <img src="assets/img/global/acesso-livre-logo.svg" alt="logo Acesso Livre" class="logo">
            <span class="logo-text">Acesso Livre</span>
            <img src="assets/img/global/LogoIFBA.svg" alt="logo IFBA" class="logo-ifba">
        </div>
    </nav>

    <!-- Modal Sobre -->
    <div id="about-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="close-about-modal">&times;</span>
            <h2>Sobre o Projeto Acesso Livre</h2>
            <p>O projeto Acesso Livre é uma iniciativa dedicada a promover a acessibilidade no IFBA Campus Eunápolis.
                Nosso objetivo é mapear e avaliar os meios de acessibilidade disponíveis, facilitando a navegação e o
                acesso para todos os usuários.</p>
            <p>Com este mapa interativo, você pode explorar os locais do campus, verificar avaliações de acessibilidade
                e contribuir com suas próprias experiências para melhorar a inclusão.</p>
        </div>
    </div>

    <!-- Modal Contato -->
    <div id="contact-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="close-contact-modal">&times;</span>
            <h2>Contato</h2>
            <p id="email-copy" class="clickable-email" title="Clique para copiar">Email: acessolivreifbaeun@gmail.com</p>
            <p>Caso tenha alguma sugestão, <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnlD847RUhnIE5aKJYHSRVfWdZCYtN_yqZNNj99svw1WJ4LA/viewform?usp=publish-editor" target="_blank">use o
                    formulário</a>.</p>
        </div>
    </div>
</header>