header nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--bg-color);
    justify-content: space-between;
    padding: 0 10px;
    z-index: 1;
}

.logo-text-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 40px;
    width: auto;
}

.logo-text {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    margin-left: 6px;
}

.logo-ifba {
    height: 40px;
    width: auto;
    margin-right: 8px;
}

.menu-toggle {
    font-size: var(--font-size-h1);
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    position: relative;
}

/* ===== MENU RESPONSIVO ===== */
.nav-links {
    display: flex;
    position: absolute;
    top: 22px;
    right: 50px;
    gap: 15px;
    list-style: none;
    opacity: 0;
    transform: translateX(20px);
    pointer-events: none;
    transition: 0.4s;
    box-shadow: none;
}

.nav-links.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.nav-links li a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #add8e6;
}

@media (max-width: 720px) {

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, var(--bg-color), var(--bg-color-gradient));
        padding: 15px 0;
        gap: 20px;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: all 0.4s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.089);
    }

    .nav-links.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

/* ===== MODAL SOBRE ===== */
#about-btn, #contact-btn {
    background: none;
    border: none;
    color: var(--color-white);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    cursor: pointer;
    transition: color 0.3s;
}

#about-btn:hover, #contact-btn:hover {
    color: #add8e6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close-btn:hover {
    color: black;
}

.modal-content p a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.modal.show {
    display: flex;
}

body.modal-open {
    overflow: hidden;
}