body {
  font-family: "Comme", sans-serif;
  margin: 0;
  background: #d9e7f7;
}

header {
  background: #0B3A75;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left img {
  height: 45px;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
}

.logout-btn {
  background: white;
  color: #0B3A75;
  border: none;
  padding: 10px 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

main {
  max-width: 1100px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}

.comment-card-admin {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  border-left: 5px solid #0B3A75;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07);
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.comment-text {
  font-size: 15px;
  color: #333;
}

.btn-approve {
  background: #0B3A75;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-reject {
  background: #e9f3ff;
  color: #0B3A75;
  border: 1px solid #0B3A75;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-photos {
  background: #FFD447;
  color: #0B3A75;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 26px;
  cursor: pointer;
}

/* Swiper imagens */
.swiper {
  width: 100%;
  height: 380px;
  margin-top: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 8px;
}

/* Loading spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0B3A75;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loadingSpinner-foto {
  width: 700px;
}